* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background: url('/img/freenaturestock-1796.jpg')no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    overflow: hidden;
}

.container {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

section {
    width: 1000px;
    height: 360px;
    /* border: 1px solid purple; */
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}

.drag {
    width: 200px;
    height: 90%;
    padding: 20px;
    margin: 10px;
    background: #fafafa;
    box-sizing: border-box;
}

.item {
    background: purple;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: .3s color linear;
    padding: 6px 15px;
    margin: 5px;
}

.item:hover {
    background-color: rgb(137, 49, 145);
}

li {
    background: purple;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: .3s color linear;
    padding: 6px 15px;
    margin: 5px;
    cursor: pointer;
    list-style: none;
}

li:hover {
    background-color: rgb(137, 49, 145);
}


/* .list {
    position: relative;
    width: 250px;
    margin: 0px auto;
    display: block;
}

.list input {
    outline: none;
    border: 1px solid white;
    background-color: #53a8e6;
    color: white;
    height: 50px;
    width: 250px;
    padding-left: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin-left: -5px;
}

.list span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.8;
    cursor: pointer;
    transition: all 200ms;
    color: white;
    will-change: transform;
    transition: .3s color linear;
}

.list span:hover {
    transform: scale(1.1);
    color: purple;
} */